.month-year {
  font-size: 25px;
  text-align: center;
}

.header {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}

td{
  cursor: pointer;
}

td:hover {
  background-color: lightgrey;
}
.list-group-item-css{
  background-color:inherit;
  border: none;
  font-size: small;
  padding: 0px;
  text-align: center;
}

.input-box{
  width: 100%;
}

.heading{
  text-align:center;
  border-bottom: solid dodgerblue;
  border-top:solid dodgerblue;
  margin-top: 10px;
  color: orangered;

}