.month-year {
  font-size: 25px;
  text-align: center;
}

.header {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}

td{
  cursor: pointer;
}

td:hover {
  background-color: #FFCCBC;
}
.list-group-item-css{
  background-color:inherit;
  border: none;
  font-size: small;
  padding: 0px;
  text-align: center;
}

.list-group-css{
  background-color: #FFCDD2;
}

.input-box{
  width: 100%;
  word-wrap: break-word;
}

.heading{
  text-align:center;
  font-weight: bold;
  border-bottom: solid dodgerblue;
  border-top:solid dodgerblue;
  margin-top: 10px;
  color: orangered;

}

.popup-action{
  float: right;
  margin-right: 12px;
  color: blue ;
}

.popup-action:hover{
  color: orangered !important;
}

.list-events{
  font-weight: 500;
  text-overflow: inherit;
  word-wrap: inherit;
  margin-bottom: 0px;
}

.label-show{
  border-bottom: solid lightgray;
  border-width: 1px;
  margin: 8px;
}

/* To show in mobile */

html { font-size: 100%; }
table { font-size: 100% }
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
@media (max-width: 500px) {
    html { font-size: 80%; }
    table {font-size: 100%;}
    h4{
      font-size: 90%;
    }
    p{
      font-size:80%;
      display:inline-block;
    }
}
